* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: orange;
    color: red;
    text-align: center;
    margin-top: 400px;
    font-size: 2em;

}

body button {
    width: 200px;
    height: 75px;
    background-color: yellow;
    margin-top: 50px;
    font-size: 1em;
    border-radius: 20px;
    transition: 0.5s;
}

body button:hover {
    background: white;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.1em;

}
